<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationExerciseSuite" verbose="1">
    
    <!-- Test Listener -->
    <listeners>
        <listener class-name="proje.com.listeners.TestListener"/>
    </listeners>
    
    <!-- Test Groups -->
    <test name="E2E Tests" preserve-order="true">
        <groups>
            <run>
                <include name="e2e"/>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="proje.com.tests.UserSignupAndOrderTest">
                <methods>
                    <include name="testUserSignupAndOrder"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- Smoke Tests -->
    <test name="Smoke Tests" preserve-order="true">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="proje.com.tests.UserSignupAndOrderTest"/>
        </classes>
    </test>
    
</suite> 